* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --color-white:  rgb(221, 218, 218);
    --color-background: #111111;
}

body {
    font-family: 'Ubuntu', sans-serif;
}